apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: devsu-python-hpa
  namespace: devsu-app
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: devsu-python-deployment
  minReplicas: 2
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 50
